.Button {
  display: inline-block;
  width: 150px;
  height: 90%;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  margin: auto;
}

.Button:hover {
  color: #ffffff;
  background-color: #000000;
}
@media all and (max-width: 30em) {
  .Button {
    display: block;
    margin: 0.4em auto;
  }
}
